body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: center;
}
.header h1{
    box-shadow: 0px 5px 5px 5px rgb(117, 122, 123);
    color: rgb(117, 122, 123);
    padding: 5px;
}

.nav{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url("bgabout.jpg");
    background-size: cover;
}

.nav ul{
    display: flex;
    position: absolute;
    list-style: none;
    right: 30px; margin-top: 20px;
}

.nav ul li a{
    display: flex;
    position: relative;
    text-decoration: none; margin-left: 10px; color: white;
    font-size:small; padding: 10 20;
}

.nav ul li a:hover{
    color: rgb(0, 0, 0);
}s
}

.container{
    display: flex;
    flex-direction: column;
    color: rgb(192, 237, 255);
    margin-top: 100px;
    margin-left: 50px;
    width: 500px;
    background-color: rgb(192, 237, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 576px) {
    .container{
        width: 300px;
    }

    
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(117, 122, 123);
    color: white;
    margin-top: 300px;
}

/*about style*/
.abt table{
    margin: auto;
    margin-top: 15px;
    width: 700px;
    border-radius: 50px;
    padding: 30px;
    background-image: url("bgabout.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
}
.photo{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
    
}
.photo table{
    width: 100px;
    background-image: url("bgabout.jpg");
    background-size: cover;
    border-radius: 5px;
}
.photo table img{
    background-color: rgb(117, 122, 123);
    width: 330px;
}
.cv{
    color: rgb(117, 122, 123);
    display: block;
    text-align: center;
    box-shadow: 0px 5px 5px 5px rgb(117, 122, 123);
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.menu a{
    padding: 0px 10px;
    text-decoration: none;
    background-color: rgb(117, 122, 123);
    color: white;
}
@media screen and (max-width: 576px){
    .abt table{
        width: 300px;
    }
    .nav{
        font-size: small;
        left: -10px;
    }
}

/*input data*/
.fieldset{
    margin-top: 100px;
    background-image: url("unnamed.jpg");
    background-size: cover;
    border-radius: 2px;
    outline: 10px rgb(117, 122, 123);
    padding: 10px;
    color: white;
}
legend{
    color: white;
    font-size: x-large;
    margin: 10px;
}
input{
    outline-color: white;
    border-color: white;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
textarea{
    border-color: white;
    border-radius: 10px;
    outline-color: white;
    color: rgb(199, 205, 206);
}
select{
    border-color: white;
    color: rgb(0, 0, 0);
    outline-color: white;
}

/* table */
.hd{
    color: rgb(117, 122, 123);
    display: block;
    text-align: center;
    box-shadow: 0px 5px 5px 5px rgb(117, 122, 123);
    margin-top: 100px;
    margin-bottom: 20px;
}
.data table {
    margin: auto;
}
.data table th{
    background-color: rgb(117, 122, 123);
    color: white;
}

.tb2 table{
    display: none;
    text-align: center;
    word-spacing: 0px;

}

@media screen and (max-width: 768px) {
    .data table{
        font-size: small;
    }
    
}

@media screen and (max-width: 576px) {
    .data table{
        display: none;
    }
    .tb2 table{
        display: block;
        font-size: 12px;
        border: 0px solid rgb(117, 122, 123);
    }
    .tb2 table td{
        border: 1px solid rgb(117, 122, 123);
    }
    .tb2{
        width: 400px;
        margin: auto;
    }

    
}
::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(117, 122, 123);
    border-radius: 10px;
}